In [1]:
import numpy as np
import pandas as pd

In [3]:
pd.Series()  # it is contains one row or one column of data

Series([], dtype: object)

In [4]:
pd.Series([1, 2, 3, 4, 5])  # Create a simple Series with default index

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
pd.Series(data=[1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
ice_cream_flavors = (
    pd.Series(data=["Vanilla", 
                    "Chocolate", 
                    "Strawberry", 
                    "Mint Chip", 
                    "Cookie Dough"])
)

#pd.Series(data=ice_cream_flavors)
pd.Series(ice_cream_flavors)

0         Vanilla
1       Chocolate
2      Strawberry
3       Mint Chip
4    Cookie Dough
dtype: object

In [14]:
ice_cream_flavors = [
    "Vanilla",
    "Chocolate",
    "Strawberry",
    "Mint Chip",
    "Cookie Dough",
    "Rum Raisin",
    "Pistachio"
]

days_of_week = [
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday",
    "Saturday",
    "Sunday"
]

#pd.Series(ice_cream_flavors)
#pd.Series(days_of_week)

pd.Series(data= ice_cream_flavors,index=days_of_week)

Monday            Vanilla
Tuesday         Chocolate
Wednesday      Strawberry
Thursday        Mint Chip
Friday       Cookie Dough
Saturday       Rum Raisin
Sunday          Pistachio
dtype: object

In [15]:
bunch_of_bools =[ True,False,False]

pd.Series(bunch_of_bools)

0     True
1    False
2    False
dtype: bool

In [ ]:
stock_prices = [123.45,140.20]
time_of_day = ["Open", "Close"]
pd.Series(stock_prices, index=time_of_day)
pd.Series(data=stock_prices, index=time_of_day) # Same as above

Open     123.45
Close    140.20
dtype: float64

In [18]:
random_numbers = [10,18,24,36,38,40,51]
pd.Series(random_numbers)

0    10
1    18
2    24
3    36
4    38
5    40
6    51
dtype: int64

In [20]:
random_numbers = [10,18,24,36,38,40,51]
pd.Series(random_numbers,dtype=np.float64)  # Specify data type as float64

0    10.0
1    18.0
2    24.0
3    36.0
4    38.0
5    40.0
6    51.0
dtype: float64

In [23]:
random_number = np.random.randint(1, 20, size=5)
pd.Series(random_number)

0     1
1     4
2     6
3     1
4    19
dtype: int32

In [24]:
temperature = [30.5, 32.0, np.nan, 31.2]
pd.Series(temperature)  # Series with NaN value

0    30.5
1    32.0
2     NaN
3    31.2
dtype: float64

In [26]:
food_items = {
    "biriyani": 1000,
    "pizza": 800,
    "burger": 500,
    "pasta": 600
}
pd.Series(food_items)  # Series with custom index from dictionary keys

biriyani    1000
pizza        800
burger       500
pasta        600
dtype: int64

In [27]:
calories = {
    "biriyani": 1000,
    "pizza": 800,
    "burger": 500,
    "pasta": 600
}

diet = pd.Series(calories)

In [28]:
diet.index  # Access the index of the Series

Index(['biriyani', 'pizza', 'burger', 'pasta'], dtype='object')

In [29]:
diet.info()

<class 'pandas.core.series.Series'>
Index: 4 entries, biriyani to pasta
Series name: None
Non-Null Count  Dtype
--------------  -----
4 non-null      int64
dtypes: int64(1)
memory usage: 236.0+ bytes

In [30]:
diet.describe()

count       4.000000
mean      725.000000
std       221.735578
min       500.000000
25%       575.000000
50%       700.000000
75%       850.000000
max      1000.000000
dtype: float64

In [31]:
diet.values

array([1000,  800,  500,  600])

In [33]:
diet.size  # Get the size of the Series

4

In [34]:
diet.shape  # Get the shape of the Series

(4,)

In [35]:
diet.dtype

dtype('int64')

In [36]:
diet.is_unique  # Check if the values in the Series are unique

True